.form-container {
    background-color: var(--color-tertiary);
    max-width: 600px;
    margin: 16px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form h2 {
    margin-bottom: 16px;
    align-self: center;
}

.form-field{
    width: 100%;
    margin-bottom: 16px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    margin-top: 16px;
    align-self: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-validation-message {
    color: red;
}