<div class="station-card">
  @if (item) {
      <h2>{{ item.stationName }}</h2>
      <img src="images/station.jpeg"/>
      <p>Location: {{ item.latitude }}, {{ item.longitude }}</p>
      <p>Price Rate: {{ item.priceRate }}</p>
      <p>Power Output: {{ item.powerOutput }}</p>

      <p>State: {{ item.state }}</p>

      <p>Grounded: {{ item.grounded }}</p>
      <p>Busy: {{ item.busy }}</p>
      <p>Wired: {{ item.wired }}</p>
      @if (item.spot_id) {
        <p>Spot ID: {{ item.spot_id }}</p>
      }
      @if (item.plugTypeList && item.plugTypeList.length > 0) {
        <p>Plug Types: {{ item.plugTypeList.join(', ') }}</p>
      }
      <div class="d-flex gap-2">
        <button type="button" class="btn btn-primary" (click)="navigateToEdit(item!)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteStation(item!)">Delete</button>
      </div>
  }
</div>