.station-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #1d1d1d;
}

.station-card h2 {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.station-card p {
  margin: 8px 0;
}

.station-card .status {
  font-weight: bold;
}

.station-card .actions {
  margin-top: 12px;
}

.greyedOut{
    color: gray;
}

.whiteText{
    color: white;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-header h1 {
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 2rem;
}

.modal-header h2 {
    color: white;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.modal-header p {
    color: white;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-style: italic;
}

.modal-content {
    background-color: #2727279d;
    color: white;
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
