.station-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid var(--color-border-light);
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: var(--color-tertiary);
    color: var(--color-text-main);
    font-family: "Inter", sans-serif;
}

.station-card h2 {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
    color: var(--color-text-main);
}

.station-card p {
    margin: 8px 0;
    color: var(--color-text-main);
}

.station-card .status {
    font-weight: bold;
    color: var(--color-primary);
}

.station-card .actions {
  margin-top: 12px;
}

.greyedOut {
    color: #7f7f7f;
}

.whiteText {
    color: var(--color-text-inverse);
}

/* MODAL */

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-header h1 {
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 2rem;
}

.modal-header h2 {
    color: white;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.modal-header p {
    color: white;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.2rem;
    font-style: italic;
}

.modal-content {
    background-color: #2727279d;
    color: white;
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
