<div class="station-card">
  @if (station) {
      <h2>{{ station.stationName }}</h2>
      <img src="images/station.jpeg"/>
      <p>Location: {{ station.latitude }}, {{ station.longitude }}</p>
      <p>Price Rate: {{ station.priceRate }}</p>
      <p>Power Output: {{ station.powerOutput }}</p>

      <p>State: {{ station.state }}</p>

      <p>Grounded: {{ station.grounded }}</p>
      <p>Busy: {{ station.busy }}</p>
      <p>Wired: {{ station.wired }}</p>
      @if (station.spot_id) {
        <p>Spot ID: {{ station.spot_id }}</p>
      }
      @if (station.plugTypeList && station.plugTypeList.length > 0) {
        <p>Plug Types: {{ station.plugTypeList.join(', ') }}</p>
      }
      <!-- <a [routerLink]="['/stations', station.id]">Details</a> -->
      <!-- <a [routerLink]="['/stations', 'edit', station.id]">Edit</a> -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" attr.data-bs-target="#reservationModal-{{ station.id }}" (click)="test()">
        Réserver
      </button>

      <!-- Modal -->
      @if (station) {
        <div class="modal fade" id="reservationModal-{{ station.id }}" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="reservationModalLabel">Réserver {{ station.id }}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="test()">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        }
  }
</div>