.station-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #1d1d1d;
}

.station-card h2 {
    width: 100%;
    margin-bottom: 8px;
    text-align: center;
}

.station-card p {
  margin: 8px 0;
}

.station-card .status {
  font-weight: bold;
}

.station-card .actions {
  margin-top: 12px;
}

.greyedOut{
    color: gray;
}

.whiteText{
    color: white;
}