services:
  angular:
    environment:
      - VIRTUAL_HOST=electricity-business.91.166.39.12.nip.io
    networks:
      - business-case-network
    expose:
      - "80"

networks:
  business-case-network:
  nginx-proxy:
    external: true
