services:
  angular:
    build:
      context: .
      dockerfile: Dockerfile
    image: angular-front
    container_name: business-case-front
    depends_on:
      - app
    healthcheck:
        test: ["CMD-SHELL", "curl -f http://app:8080/actuator/health || exit 1"]
        interval: 10s
        retries: 5
        timeout: 5s
    environment:
      - VIRTUAL_HOST=electricity-business.91.166.39.12.nip.io
      - LETSENCRYPT_HOST=electricity-business.91.166.39.12.nip.io
    volumes:
      - ../../nginx-proxy/certs:/etc/nginx/certs:ro
    networks:
      - business-case-network
      - nginx-proxy
    expose:
      - "80"

networks:
  business-case-network:
  nginx-proxy:
    external: true
