services:
  angular:
    build:
      context: .
      dockerfile: Dockerfile
    image: angular-front
    container_name: business-case-front
    depends_on:
      - app
    networks:
      - businesscasehb