stages:
    - tests
    - build
    - sonarqube
    - package
    - deploy

.tests-api:
    stage: tests
    image: maven:3.9.11-eclipse-temurin-21-alpine
    interruptible: true
    script:
        - mvn test -Dtest=*Controller*
    artifacts:
        when: always
        reports:
            junit:
                - backend/target/surefire-reports/*.xml
        paths:
        - backend/target/surefire-reports/

.build:
    stage: build
    retry: 1
    interruptible: true

.change-folder:
    before_script:
        - cd ${APP_DIR}

.docker-build:
    stage: package
    image: docker:28
    services:
        - name: docker:dind
    script:
        - docker login --username="${CI_REGISTRY_USER}" --password="${CI_REGISTRY_PASSWORD}" ${CI_REGISTRY}
        - docker build -t ${CI_REGISTRY_IMAGE}/${APP_DIR}:${CI_COMMIT_SHORT_SHA} -f production.Dockerfile ./
        - docker push ${CI_REGISTRY_IMAGE}/${APP_DIR}:${CI_COMMIT_SHORT_SHA}

# API
.api-build:
    extends:
        - .build
    image: maven:3.9.11-eclipse-temurin-21-alpine
    script:
        - mvn -B -DskipTests clean package
    artifacts:
        paths:
            - ${APP_DIR}/target/*.jar
    cache:
        key:
            files:
                - ${APP_DIR}/pom.xml
        paths:
            - ${APP_DIR}/.m2/repository

.api-variables:
    variables:
        APP_DIR: backend

# Client (Angular / Node)
.frontend-build:
    extends:
        - .build
    image: node:24.7.0-bullseye
    before_script:
        - cd ${APP_DIR}
    script:
        - npm ci --cache .npm --prefer-offline
        - npm run build -- --configuration=production
    artifacts:
      paths:
        - ${APP_DIR}/dist/business-case-front
    cache:
        key:
            files:
            - ${APP_DIR}/package-lock.json
            - ${APP_DIR}/package.json
        paths:
          - ${APP_DIR}/.npm

.client-variables:
    variables:
        APP_DIR: frontend

test api:
    extends:
        - .api-variables
        - .change-folder
        - .tests-api
    rules:
    - changes:
        - backend/**/*

build api:
    extends:
        - .api-variables
        - .change-folder
        - .api-build
    rules:
    - changes:
        - backend/**/*

build client:
    extends:
        - .client-variables
        - .change-folder
        - .frontend-build
    rules:
    - changes:
        - frontend/**/*

sonarqube-analysis:
    stage: sonarqube
    image: maven:3.9.11-eclipse-temurin-21
    script:
        - cd backend
        - mvn -B -DskipTests clean compile
        - cd ..
        # Installation de sonar-scanner
        - apt-get update && apt-get install -y wget unzip
        - wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
        - unzip sonar-scanner-cli-5.0.1.3006-linux.zip
        - export PATH=$PATH:$(pwd)/sonar-scanner-5.0.1.3006-linux/bin
        - sonar-scanner -Dsonar.login=${SONAR_TOKEN}
    cache:
        key:
            files:
                - backend/pom.xml
        paths:
            - backend/.m2/repository
    rules:
        - changes:
            - backend/**/*
            - frontend/**/*

package api image:
    extends:
        - .api-variables
        - .change-folder
        - .docker-build
    needs:
        - job: build api
          artifacts: true
    rules:
    - changes:
        - backend/**/*

package client image:
    extends:
        - .client-variables
        - .change-folder
        - .docker-build
    needs:
        - job: build client
          artifacts: true
    rules:
    - changes:
        - frontend/**/*
# Deploy
# Pull Docker Image from Gitlab Registry via SSH