<div class="navbar">
    <div class="navbar-left">
        <nav class="navbar-nav">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/stations">Stations</a></li>
                <li><a routerLink="/stations/add">Add Station</a></li>
            </ul>
        </nav>
    </div>
    <div class="navbar-center">
        <h1>Electricity Business</h1>
    </div>
    <div class="navbar-right">
        @if(currentUser){
            <p>Welcome, {{ currentUser.username }}</p>
            <a (click)="authService.logout()">Logout</a>
        } @else {
            <a routerLink="auth/login">Login</a>
            <a routerLink="auth/register">Register</a>
        }
    </div>
</div>