.form-container {
  padding: 20px;
  background-color: var(--color-tertiary);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form h2 {
  margin-bottom: 16px;
  align-self: center;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn {
  margin-top: 16px;
  align-self: center;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-validation-message {
  color: red;
}
