.search-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 8px 0;
}

.input-container {
  margin: 8px;
}

#price-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#price-input {
  width: 200px;
  height: 8px;
}
