<div>
  <form [formGroup]="searchForm" action="" class="search-form">
    <div class="input-container mb-3">
      <label for="adress-input">Adress</label>
      <input type="text" placeholder="Adress..." name="adress-input" class="form-control" formControlName="adress"/>
    </div>

    <div class="input-container mb-3">
      <label for="radius-input">Radius (km)</label>
      <input type="number" placeholder="Radius (km)..." name="radius-input" class="form-control" formControlName="radius"/>
    </div>

    <div class="input-container mb-3">
      <label for="date-input">Day</label>
      <input type="date" placeholder="Day..." name="date-input" class="form-control" formControlName="date"/>
    </div>
      
    <div class="input-container mb-3">
      <label for="start-time-input">Start Time</label>
      <input type="time" placeholder="Start Time..." name="start-time-input" class="form-control" formControlName="startTime"/>
    </div>
    
    <div class="input-container mb-3">
      <label for="end-time-input">End Time</label>
      <input type="time" placeholder="End Time..." name="end-time-input" class="form-control" formControlName="endTime"/>
    </div>
      
    <div class="input-container mb-3" id="price-input-container">
      <label for="price-input">Maximum Price</label>
      <input type="range" placeholder="Price..." name="price-input" id="price-input" class="form-control"
        (input)="updatePriceDisplay($event)"
        min="0"
        max="20"
        step="0.1"
        formControlName="maxPrice"
        />
      <output id="num">{{ displayPrice === '-' ? '-' : (displayPrice | currency:'EUR')}}</output>
    </div>

    <div class="input-container mb-3">
      <button type="submit" class="btn btn-primary" (click)="submitSearch()">Chercher</button>
    </div>
  </form>
</div>