@if (station){
  <div class="form-container">
      <form [formGroup]="editStationForm" action="">
          <h2>Edit Station: {{ station.stationName }}</h2>
          <div class="form-field">
              <label for="stationName">Station Name: </label>
              <input id="stationName" type="text" formControlName="stationName" [class.border-red-500]="isFieldInvalid('stationName')"/>
              @if (isFieldInvalid('stationName')) {
                  <div class="form-validation-message">
                      {{ getFieldError('stationName') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="latitude">Latitude: </label>
              <input
                id="latitude"
                type="number"
                step="0.0001"
                formControlName="latitude"
                [class.border-red-500]="isFieldInvalid('latitude')"/>
              @if (isFieldInvalid('latitude')) {
                  <div class="form-validation-message">
                      {{ getFieldError('latitude') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="longitude">Longitude: </label>
              <input
                id="longitude"
                type="number"
                step="0.0001"
                formControlName="longitude"
                [class.border-red-500]="isFieldInvalid('longitude')"/>
              @if (isFieldInvalid('longitude')) {
                  <div class="form-validation-message">
                      {{ getFieldError('longitude') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="priceRate">Price Rate: </label>
              <input id="priceRate" type="number" formControlName="priceRate" [class.border-red-500]="isFieldInvalid('priceRate')"/>
              @if (isFieldInvalid('priceRate')) {
                  <div class="form-validation-message">
                      {{ getFieldError('priceRate') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="powerOutput">Power Output: </label>
              <input
                id="powerOutput"
                type="number"
                step="0.1"
                min="0.1"
                formControlName="powerOutput"
                [class.border-red-500]="isFieldInvalid('powerOutput')"/>
              @if (isFieldInvalid('powerOutput')) {
                  <div class="form-validation-message">
                      {{ getFieldError('powerOutput') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="state">State: </label>
              <select id="state" formControlName="state" [class.border-red-500]="isFieldInvalid('state')">
                  <option value="" disabled>Select State</option>
                  <option value="ACTIVE">Active</option>
                  <option value="INACTIVE">Inactive</option>
                  <option value="MAINTENANCE">Maintenance</option>
                  <option value="OUT_OF_SERVICE">Out of Service</option>
                  <option value="BROKEN">Broken</option>
                  <option value="DAMAGED">Damaged</option>
                  <option value="DECENT">Decent</option>
                  <option value="GOOD">Good</option>
                  <option value="PRIME">Prime</option>
              </select>
              @if (isFieldInvalid('state')) {
                  <div class="form-validation-message">
                      {{ getFieldError('state') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="spot_id">Spot: </label>
              <select id="spot_id" formControlName="spot_id" [class.border-red-500]="isFieldInvalid('spot_id')">
                  <option value="" disabled>Select Spot</option>
                  <!-- Iterate on Spots -->
              </select>
              @if (isFieldInvalid('spot_id')) {
                  <div class="form-validation-message">
                      {{ getFieldError('spot_id') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="plugType">Plug Types: </label>
              <select id="plugType" formControlName="plugType" multiple=true [class.border-red-500]="isFieldInvalid('plugType')">
                  <option value="" disabled>Select Plug Type</option>
                  <!-- Iterate on Plug Types -->
              </select>
              @if (isFieldInvalid('plugType')) {
                  <div class="form-validation-message">
                      {{ getFieldError('plugType') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="grounded">Grounded: </label>
              <input id="grounded" type="checkbox" formControlName="grounded" [class.border-red-500]="isFieldInvalid('grounded')"/>
              @if (isFieldInvalid('grounded')) {
                  <div class="form-validation-message">
                      {{ getFieldError('grounded') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="wired">Wired: </label>
              <input id="wired" type="checkbox" formControlName="wired" [class.border-red-500]="isFieldInvalid('wired')"/>
              @if (isFieldInvalid('wired')) {
                  <div class="form-validation-message">
                      {{ getFieldError('wired') }}
                  </div>
              }
          </div>
          <div class="form-field">
              <label for="manual">Manual: </label>
              <textarea id="manual" formControlName="manual" [class.border-red-500]="isFieldInvalid('manual')"></textarea>
              @if (isFieldInvalid('manual')) {
                  <div class="form-validation-message">
                      {{ getFieldError('manual') }}
                  </div>
              }
          </div>
          <button type="submit" class="submit-btn" (click)="submitEditStation()">Register</button>
      </form>
  </div>
}