.profile-container {
  display: flex;
  flex-direction: row;
}

.profile-left {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 8px;
  border-right: solid white 1px;
  border-bottom: solid white 1px;
  border-bottom-right-radius: 5px;
}

.profile-left a {
  text-decoration: none;
  color: white;
  margin-top: 8px;
}

.profile-content {
  flex: 1;
}
