<div class="container d-flex flex-column gap-4 align-items-center">
  <div class="d-flex flex-column align-items-center">
    <h2>My Stations</h2>
    <button
      [routerLink]="ROUTE_PATHS.createStation"
      class="btn btn-primary mb-3"
    >
      Add New Station
    </button>
  </div>
  <div class="stations-content">
    <router-outlet></router-outlet>
    <app-list-display
      [items$]="stationsList"
      [type]="listType"
      layout="row-layout"
    ></app-list-display>
  </div>
</div>
