.form-container {
    max-width: 600px;
    margin: 16px auto;
    padding: 20px;
    border: 1px solid var(--color-border-light);
    border-radius: 5px;
    background-color: var(--color-tertiary);
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form h2 {
    margin-bottom: 16px;
    align-self: center;
    color: var(--color-text-main);
    font-family: "Inter", sans-serif;
}

.form-field{
    width: 100%;
    margin-bottom: 16px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--color-border-light);
    border-radius: 5px;
    color: var(--color-text-main);
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

.submit-btn {
    margin-top: 16px;
    align-self: center;
    background-color: var(--color-secondary);
    color: var(--color-text-inverse);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: var(--color-secondary-hover);
}

.form-validation-message {
    color: var(--color-error);
    font-family: "Inter", sans-serif;
}