.footer {
  padding: 20px;
  margin-top: auto;
  text-align: center;
  background-color: rgba(31, 60, 136, 0.05);
  color: var(--color-text-main);
  border-top: 1px solid rgba(31, 60, 136, 0.2);
  font-family: "Inter", system-ui, sans-serif;
}